<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-cacheclear" version="1.0.1">
  <name>Cacheclear</name>
  <js-module name="Cacheclear" src="www/cacheclear.js">
    <clobbers target="cordova.plugins.Cacheclear"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Cacheclear">
        <param name="android-package" value="com.android.plugins.Cacheclear"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/cacheclear.java" target-dir="src/com/android/plugins/cacheclear"/>
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Cacheclear">
        <param name="ios-package" value="cacheclear"/>
      </feature>
    </config-file>
    <source-file src="src/ios/cacheclear.m"/>
  </platform>
</plugin>
